/* Introduction Scene */

div#introduction-scene {

	width: 100vw;
	height: 95vh;

	background: black;

}

div#title {

	margin-left: 10vw;
	margin-right: 10vw;

	padding-top: 20vh;

	width: 80vw;
	height: 50vh;

	align-content: center;

}

div#introduction-footer {

	height: 20vh;

}

div#introduction-footer-spacer {

	height: 15vh;

}

p#display-warning-text {

	font-size: 2vh;
	text-align: center;

}

h1.title-text {

	overflow: hidden;
	white-space: nowrap;

	color: white; 
	font-size: 12.5vh;
	font-family: 'Digital-7', monospace;

}

h1#title-line-1 {

	animation: 1.95s title-line-1-typing steps(13);

	border-right: 4px solid white;

	width: 13ch;


}

h1#title-line-2 {

	animation: 3.3s title-line-2-typing steps(22), 1s cursor-animation 3.3s infinite;

	border-right: 4px solid white;

	width: 22ch;

}

p#display-warning-text {

	color: white;
	font-size: 1.5vh;
	font-family: 'Blender Pro Book', sans-serif;

}

button#title-redirection-button {

	width: 12.5vw;
	height: 5vh;

	font-size: 2vh;

}

@keyframes title-line-1-typing {

	0% {

		width: 0ch;

	}

	100% {

		width: 13ch;

	}

}

@keyframes title-line-2-typing {

	0% {

		color: white;

		width: 0ch;

	}

	100% {

		width: 22ch;
		color: white;

	}

}

@keyframes cursor-animation {

	0% {

		border-right: 4px solid white;

	}

	25% {

		border-right: 4px solid white;

	}

	100% {

		border-right: 4px solid transparent;

	}

}