div#home-container {

	width: 100vw;
	height: 95vh;

	background-image: url(/assets/images/home-background.jfif);
	background-repeat: no-repeat;
	background-size: cover;

}

div#home-left-container {

	width: 20vw;
	height: 95vh;

	float: left;

}

div#home-left-container {

	width: 60vw;
	height: 95vh;

	float: left;

}

div#home-left-container {

	width: 20vw;
	height: 95vh;

	float: left;

}